@using TokenGrabber.ViewModels
@model LoginViewModel
@{
    ViewData["Title"] = "Login settings";
}

<div class="container">

    <div class="row">
        <h2>@ViewData["Title"]</h2>
    </div>

    <form asp-controller="Account" asp-action="DoLogin" method="post">

        <div class="row">
            <div class="col col-sm-6 col-md-4">
                <input asp-for="ReadScope">
                <label class="form-check-label">
                    Read permission
                </label>
            </div>
            <div class="col col-sm-6 col-md-4">
                <input asp-for="WriteScope">
                <label class="form-check-label">
                    Write permission
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <input type="submit" class="btn btn-primary" value="Login" />
            </div>
        </div>
    </form>
</div>
