@model TokenGrabber.ViewModels.UserProfileViewModel
@{
    ViewData["Title"] = "User Profile";
}

<h2>@ViewData["Title"]</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <img src="@Model.ProfileImage" alt="" class="img-rounded img-responsive" />
        </div>
        <div class="col-sm-9">
            <h3>@Model.Name</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            Your token for the API access:
        </div>
        <div class="col-sm-9">
            <p class="text-break">@Model.AccessToken</p>
        </div>
    </div>
</div>