@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <h1 class="display-4">Welcome</h1>
    <p>You can generate tokens for testing <a href="https://github.com/gabornemeth/UserManager" target="_blank">UserManager sample API</a>
        running <a href="https://usermanager.azurewebsites.net/swagger" target="_blank">here</a>.
</div>
